* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 40% 40% 30%;
  grid-template-areas: "header"
                       "hero-top"
    "hero-middle"
    "hero-bottom";
    font-family: 'Poppins', 'Arimo', 'Fira Mono', monospace, sans-serif, ;
}

.header {
  grid-area: header;
  display: flex;
}

.header-top{
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem 2rem 1rem;
}

.top-left-img-text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.header-top-left-img{
  width: 1.5rem;
  height: 1rem;
}

.header-top-left, .header-top-right-nav{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 0.7rem;
    color: black;
    margin-left: 1.5rem;
}

.header-top-right-nav{
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-top-right-navitems {
  margin-right: 1rem;
}

.header-below{
 display: flex;
 align-items: center;
}

.header-below-npmlogo{
  width: 4rem;
  height: 2rem;
  margin-left: 2.5rem;
}

form.header-below-searchbar {
  border: none;
  padding: 0.2rem;
  background-color: #f2f2f2;
  width: 77%;
  margin-left: 1rem;
}

input.nosubmit {
  border: 1px solid #f2f2f2;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  font-family: "Fira Mono", Monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: #000;
}

.header-below-search{
  background-color: #FC545A;
  color:#fff;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: none;
  margin-right: 2rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 0.9rem;

}

.header-below-join, .header-below-login{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 0.9rem;
  color: #000;
  text-decoration: none;
  margin-right: 1rem;

}

.header-below-join {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: 0.5px solid black;
  border-top-width: 2px;

}

.hero-top {
  grid-area: hero-top;
}

.hero-middle {
  grid-area: hero-middle;
}

.hero-bottom {
  grid-area: hero-bottom;
}